page-bank-details {
    input[type="text"] {
        width: 99%;
        margin: auto;
        height: 45px;
        margin: 10px 0px 0 0px;
        font-size: 17px;
        color: #5894ff;
        border: none !important;
        padding: 0 15px;
    }
}
